---
import MetaData from '../components/common/MetaData.astro';
import StructuredData from '../components/common/Breadcrumb/StructuredData.astro';
import Breadcrumb from '../components/common/Breadcrumb/Breadcrumb.astro';
import GoogleFonts from '../components/common/GoogleFonts.astro';
import Header from '../components/common/Header.astro';
import Footer from '../components/common/Footer.astro';
import { ViewTransitions } from 'astro:transitions';
import '../styles/global/global.scss';
import '../styles/vendor/reset.scss';
const { url,title,description,hierarchies,lists } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  	<head>
		<MetaData 
			url={url}
			title={title}
			description={description}
            lists={lists}
		/>
		<GoogleFonts />
		<ViewTransitions />
		<StructuredData hierarchies={hierarchies} />
	</head>
  	<body>
		<Header />
        <Breadcrumb lists={lists}/>
        <slot />
		<Footer />
  	</body>
</html>