---
import Layout from '../../../layouts/Layout.astro';
import { Image } from 'astro:assets';
import { BASE_URL } from '../../../scripts/modules/baseURL';
import { responseBlog,notionBlog,array__allArticleData } from '../../../scripts/api/notionBlog.js';
import { array__allSeries } from '../../../scripts/modules/array__allSeries.js';
import { array__allBrand } from '../../../scripts/modules/array__allBrand.js';
import { NotionToMarkdown } from "notion-to-md";
import { unified } from 'unified';
import { JSDOM } from "jsdom";
import SwiperGallery from '../../../components/modules/SwiperGallery.jsx';
import RelatedArticle from '../../../components/modules/RelatedArticle.astro';
import rehypeStringify from 'rehype-stringify';
import remarkParse from 'remark-parse';
import remarkRehype from 'remark-rehype';
import remarkUnwrapImages from 'remark-unwrap-images';
import rehypeFigure from "@microflash/rehype-figure";
import rehypeRaw from "rehype-raw";
import remarkGfm from "remark-gfm";
import '../../../styles/articlePage.scss';

export async function getStaticPaths() {
    array__allArticleData.filter((article) => {
        return array__allSeries.filter((value) => {
            if(article.series === value.series){
                return article["seriesSlug"] = value.seriesSlug;
            }
        });
    });

    array__allArticleData.filter((article) => {
        return array__allBrand.filter((value) => {
            if(article.brand === value.brand){
                article["brandSlug"] = value.brandSlug;
            }
        })
    })

    return array__allArticleData.map((elem) => ({
        params: {slug: elem.slug},
        props: {
            response: responseBlog,
            notion: notionBlog,
            id: elem.id,
            title: elem.title,
            thumbnail: elem.thumbnail,
            date: elem.date,
            series_ja: elem.series,
            series_slug: elem.seriesSlug,
            published: elem.published,
            description: elem.description,
            brand: elem.brand,
            brand_slug: elem.brandSlug
        }
    }))
}

const { slug } = Astro.params;
const { response,notion,id,title,thumbnail,date,series_ja,series_slug,published,description,brand,brand_slug } = Astro.props;

const n2m = new NotionToMarkdown({ notionClient: notion });
const mdblocks = await n2m.pageToMarkdown(id);
let array_sections = [];
let currentSection = { title: "", blocks: [] };
mdblocks.forEach(block => {
    if (block.type === 'heading_2') {
        if (currentSection.blocks.length > 0) {
            array_sections.push(currentSection);
        }
        currentSection = { title: block.text, blocks: [block] };
    } else {
        currentSection.blocks.push(block);
    }
});
if (currentSection.blocks.length > 0) {
    array_sections.push(currentSection);
}

async function convertMarkdownToHtml(markdown) {
    const processor = unified();
    processor.use(remarkParse, { fragment: true });
    processor.use(remarkGfm);
    processor.use(remarkUnwrapImages);
    processor.use(remarkRehype);
    processor.use(rehypeRaw);
    processor.use(rehypeStringify);
    const result = await processor.process(markdown);
    return String(result);
}

async function convertMarkdown(htmlContent) {
  const htmlWithLinks = htmlContent.replace(/<a href="([^"]+)">/g, (match, url) => {
    return `<a href="${url}" target="_blank">`;
  });
  const convertedTable = htmlWithLinks.replace(/<table>[\s\S]*?<tbody>([\s\S]*?)<\/tbody>[\s\S]*?<\/table>/g, match => {
    return match
      .replace(/<thead>[\s\S]*?<\/thead>/g, '')
      .replace(/<tr>(.*?)<\/tr>/g, (_, tr) => {
        const cells = tr.match(/<td[^>]*>(.*?)<\/td>/g);
        if (cells && cells.length >= 2) {
          const dt = cells[0].replace(/<\/?td[^>]*>/g, '').trim();
          const dd = cells.slice(1).map(td => td.replace(/<\/?td[^>]*>/g, '').trim()).join(', ');
          return `<dt>${dt}</dt><dd>${dd}</dd>`;
        }
        return '';
      })
      .replace(/<table>|<\/table>|<tbody>|<\/tbody>/g, '')
      .trim();
  }).replace(/(<dt>.*?<\/dt><dd>.*?<\/dd>)/g, '<dl>$1</dl>');

  return convertedTable;
}
const htmlSections = await Promise.all(
    array_sections.map(async (section) => {
        const markdownContent = section.blocks.map(b => b.parent).join("\n");
        const htmlContent = await convertMarkdownToHtml(markdownContent);
        const finalHtmlContent = await convertMarkdown(htmlContent);
        return { title: section.title, content: finalHtmlContent };
    })
);
const separateSections = htmlSections.slice(0,3);
function extractImageUrls(markdown) {
    const regex = /!\[.*?\]\((.*?)\)/g;
    const urls = [];
    let match;

    while ((match = regex.exec(markdown)) !== null) {
        urls.push(match[1]);
    }

    return urls;
};
const section_gallery = [];
const section_shoppingInfo = [];
array_sections.forEach(block => {
    if(block.blocks[0].type == "heading_2" && block.blocks[0].parent.includes("フォトギャラリー")){
        section_gallery.push(block);
    }
    if(block.blocks[0].type == "heading_2" && block.blocks[0].parent.includes("販売情報")){
        section_shoppingInfo.push(block);
    }
});

let sectionTitleGallery;
const sectionImageGallery = [];
await Promise.all(
    section_gallery[0].blocks.map(async elem => {
        if(elem.type == "heading_2"){
            sectionTitleGallery = await convertMarkdownToHtml(elem.parent);
            return sectionTitleGallery
        }else if(elem.type == "image"){
            sectionImageGallery.push(extractImageUrls(elem.parent));
            return sectionImageGallery
        }
    })
);
let sectionTitleShoping;
await Promise.all(
    section_shoppingInfo[0].blocks.map(async elem => {
        if(elem.type == "heading_2"){
            sectionTitleShoping = await convertMarkdownToHtml(elem.parent);
            return sectionTitleShoping
        }
    })
);

const images = sectionImageGallery.flat();

const searchKeyword = `ガンプラ ${title}`;
const rakutenSearchUrl = `https://search.rakuten.co.jp/search/mall/${encodeURIComponent(searchKeyword)}/`;
const amazonSearchUrl = `https://www.amazon.co.jp/s?k=${encodeURIComponent(searchKeyword)}`;
const yahooSearchUrl = `https://shopping.yahoo.co.jp/search?p=${encodeURIComponent(searchKeyword)}`;
const hierarchies = [
    {
        position : 2,
        itemName: `${title}`,
        itemPath: `${BASE_URL}/article/view/${slug}`
    },

];

const lists = [
    { 
        name: `${title}`,
        path: `${BASE_URL}/article/view/${slug}`
    },
];
---

<Layout 
    title=`${title} | zatty's Blog`
    description={description}
    url=`${BASE_URL}/article/view/${slug}`
    hierarchies={hierarchies}
    lists={lists}
>
    <main>
        <article>
            <section id="mainView">
                <section class="top">
                    <div class="image">
                        <Image src={thumbnail} alt={title} width={360} height={240}>
                    </div>
                    <div class="title">
                        <h1>{title}</h1>
                    </div>    
                </section>
                <section class="info">
                    <div class="date">
                        <time datetime={date} itemprop="datePublished">{`${new Date(date).getFullYear()}.${('0'+(new Date(date).getMonth()+1)).slice(-2)}.${('0'+(new Date(date).getDate())).slice(-2)}`}</time>
                    </div>
                    <div class="category">
                        <div id={series_slug} class="series">
                            <a href=`${BASE_URL}/article/series/${series_slug}/page=1`>{series_ja}</a>
                        </div>
                        <div class="brand">
                            <a href=`${BASE_URL}/article/brand/${brand_slug}/page=1`>{brand}</a>
                        </div>    
                    </div>
                </section>
            </section>
            <section id="mainContent">
                {separateSections.map((section) => (
                    <section class="topics" set:html={section.content}></section>
                ))}    
                <section class="topics">
                    <div set:html={sectionTitleShoping}></div>
                    <div class="button-shop">
                        <div class="amazon">
                            <a href={amazonSearchUrl} target="_blank">amazon</a>
                        </div>
                        <div class="rakuten">
                            <a href={rakutenSearchUrl} target="_blank">楽天</a>
                        </div>
                        <div class="yahoo">
                            <a href={yahooSearchUrl} target="_blank">Yahoo Shopping</a>    
                        </div>
                    </div>
                </section>
                <section class="topics" id="gallery">
                    <div set:html={sectionTitleGallery}></div>
                    <SwiperGallery images={images} client:load/>
                </section>
            </section>
        </article>
        <RelatedArticle title={title} thumbnail={thumbnail} series={series_slug} date={date} brand={brand} />
    </main>
</Layout>